.login-body {
	background-color: #f3f3f9;
	width: 100%;
	height: 100%;
}
.login-form-area {
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	height: 100%;
	padding-bottom: 3rem;
}

.login-form-input-content {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 0.625rem !important;
}

.login-form-control:focus {
	outline: none !important;
}

.login-card {
	border: 0px;
	box-shadow: 6px 11px 41px -28px #a99de7;
	border-radius: 0.625rem !important;
}

.login-card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
}

.login-card .login-card-body {
	padding: 1.88rem 1.81rem;
}

.card-body {
	flex: 1 1 auto;
	padding: 1.25rem;
}

.login-input {
	margin-top: 3rem;
	/* margin-bottom: 3rem; */
}

.login-input .login-form-group {
	margin-bottom: 30px;
}

.login-input .login-form-group .login-form-control {
	background: transparent;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #f5f5f5;
	padding-left: 0;
	color: #7a88a1;
}

.login-form-control {
	min-height: 40px;
}

.login-form-control {
	border-radius: 0;
	box-shadow: none;
	height: 45px;
}

.login-form-control {
	display: block;
	width: 100%;
	height: calc(2.0625rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-form-btn.submit {
	padding: 15px 40px;
	background: #7571f9;
	font-weight: 700;
}

.login-form-btn {
	color: #fff;
	font-size: 14px;
}

.social-login-btn {
	margin-top: 2rem;
}

.google-btn {
	color: #7a88a1;
	border-color: #7571f9;
	width: 100%;
	padding: 14px 0px;
}

.facebook-btn {
	color: #7a88a1;
	border-color: #7571f9;
	width: 100%;
	padding: 12px 0px;
}

.login-form-btn:hover {
	color: #fff !important;
}

.login-form-footer1 {
	margin-top: 1rem !important;
}

.login-form-footer {
	margin-top: 3rem !important;
	color: #7a88a1;
}

.text-primary {
	color: #7571f9 !important;
	text-decoration: none;
	background-color: transparent;
}

@media only screen and (max-width: 767px) {
	.login-form-area {
		padding-top: 4rem;
	}

	.login-card .login-card-body {
		padding: 1rem 1.8rem;
	}
	.login-input {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.login-form-footer {
		margin-top: 2rem !important;
	}

	.social-login-btn {
		margin-top: 1rem;
	}

	.social-btn2 {
		margin-top: 1rem;
	}
}
