.userMainContent {
  padding: 3%;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3%;
}

.inputForImage {
  width: 200px;
  margin: 2% 3%;
  height: 50px;
}

.cameraButton {
  height: 50px;
  margin: 2% 3%;
}

.imageView {
  display: flex;
  justify-content: center;
}

.submitButton {
  text-align: center;
}
