.landingBanner img {
  width: 100%;
  height: 30%;
  position: absolute;
  z-index: -1;
}

/* .backOverlay {
  min-width: 100%;
  height: 32.6%;
  background-color: black;
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
} */

.aboutUsMain {
  width: 90%;
  margin-top: 10%;
}

.aboutContent {
  width: 80%;
  margin: 5% 2% 2% 8%;
}

.aboutUsMain h3,
.featureMain h3 {
  font-size: 2.5rem;
  color: royalblue;
  margin-top: 10%;
  margin-bottom: 3%;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-align: center;
}

.aboutContent p {
  width: 80%;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 3%;
}

.aboutImage img {
  max-width: 100%;
  margin: auto;
}

.featureContent {
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.featureCards .MuiPaper-root {
  margin: 8% auto;
}

@media (max-width: 1200px) {
  .aboutUsMain {
    margin-top: 20%;
  }
}

@media (max-width: 768px) {
  .landingBanner img {
    width: 100%;
    height: 15%;
  }
  .backOverlay {
    height: 17.1%;
  }
  .aboutUsMain {
    margin-top: 35%;
  }
  .featureMain {
    margin-top: 30%;
  }
  .featureMain h3 {
    margin-bottom: 10%;
  }
}
