.userMainContent {
  padding: 3%;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3%;
}

.inputForImage {
  width: 80%;
  margin: 2% 3%;
  height: 50px;
  font-size: 0.7rem;
}

.cameraButton {
  height: 50px;
  margin: 2% 3%;
  font-size: 0.9rem;
}

.imageView {
  display: flex;
  justify-content: center;
}

.imageView img {
  max-width: 500px;
  min-width: 300px;
}

.submitButton {
  text-align: center;
}
