.userMainContent {
  padding: 3%;
}
.mainContainer {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  padding: 3%;
}

.inputForImage {
  width: 80%;
  max-width: 200px;
  margin: 2% 3%;
  height: 50px;
  font-size: 0.7rem;
}

.cameraButton {
  height: 50px;
  margin: 0.7% auto;
  font-size: 0.9rem;
}

.imageView {
  display: flex;
  justify-content: center;
}

.imageView img {
  max-width: 500px;
  min-width: 250px;
}

.submitButton {
  text-align: center;
}

.webCam {
  width: 50%;
  min-width: 250px;
  min-height: 300px;
  margin-top: auto;
}
/* 
@media (max-width: 600px) {
  .webCam {
    display: block;
  }
} */
