.mainSub {
  padding: 2%;
}

.menu {
  text-align: center;
  /* justify-content: center; */
  margin: 5% auto;
  width: 70%;
}

.menu .menuCardMain {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.menuHeading {
  margin-top: 5%;
  text-align: center;
  text-decoration: underline;
}

.horizontalRow {
  width: 80%;
  margin: auto;
  color: rgb(165, 165, 165);
}

.botDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
